<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PeligroServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ConnectionUtil</display-name>
    <servlet-name>ConnectionUtil</servlet-name>
    <servlet-class>com.peligro.ConnectionUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionUtil</servlet-name>
    <url-pattern>/ConnectionUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserInfo</display-name>
    <servlet-name>UpdateUserInfo</servlet-name>
    <servlet-class>com.peligro.UpdateUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserInfo</servlet-name>
    <url-pattern>/UpdateUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateUserHome</display-name>
    <servlet-name>updateUserHome</servlet-name>
    <servlet-class>com.peligro.updateUserHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateUserHome</servlet-name>
    <url-pattern>/updateUserHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserCurrent</display-name>
    <servlet-name>UpdateUserCurrent</servlet-name>
    <servlet-class>com.peligro.UpdateUserCurrent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserCurrent</servlet-name>
    <url-pattern>/UpdateUserCurrent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserData</display-name>
    <servlet-name>UpdateUserData</servlet-name>
    <servlet-class>com.peligro.UpdateUserData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserData</servlet-name>
    <url-pattern>/UpdateUserData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRegKey</display-name>
    <servlet-name>UpdateRegKey</servlet-name>
    <servlet-class>com.peligro.UpdateRegKey</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRegKey</servlet-name>
    <url-pattern>/UpdateRegKey</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlertClass</display-name>
    <servlet-name>AlertClass</servlet-name>
    <servlet-class>com.peligro.AlertClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlertClass</servlet-name>
    <url-pattern>/AlertClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlertMap</display-name>
    <servlet-name>AlertMap</servlet-name>
    <servlet-class>com.peligro.AlertMap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlertMap</servlet-name>
    <url-pattern>/AlertMap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.peligro.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>